@using ForumSystem.Web.ViewModels.Profiles;
@model ProfileViewModel
@{
    this.ViewData["Title"] = "Category";
}

<div id="my-container" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">

                        <form method="post">
                            <input onchange="uploadImage('my-input')" id="my-input" type="file" hidden />
                        </form>

                        <div class="content">
                            <img id="profile-image" src="@this.Model.ImageSrc" width="170" height="150">
                            <a onclick="$('#my-input').click();" class="btn btn-sm rounded-0" data-toggle="tooltip" data-placement="top" title="Edit Image"><i class="fa fa-edit"></i></a>
                        </div>

                    </div>
                </div>

                <div class="ibox-content forum-container">
                    <div class="pull-right forum-desc">
                        <samll>Total posts: @this.Model.PostsCount</samll>
                    </div>

                    <span>Feel free to choose topic you're interested in.</span>

                    @if (this.Model.PostsCount == 0)
                    {
                        <div class="forum-title">
                            <h3>It feels empty! There is still no posts written from @this.Model.UserName.</h3>
                        </div>

                        @*<a asp-controller="Posts" asp-action="Create" asp-route-selected="@this.Model.Name" class="btn btn-block btn-primary">
                                Write a Post about @this.Model.Name
                            </a>*@
                    }
                    else
                    {
                        <div class="forum-title">
                            <h3>Posts: </h3>
                        </div>
                    }


                    @foreach (var post in this.Model.Posts)
                    {
                        <div class="forum-item active">
                            <div class="row align-items-center my-row ">
                                <div class="col-md-1 my-col">
                                    <div class="forum-icon">
                                        <img src="@post.CategoryImageUrl" width="50" class="d-sm-block ui-w-40 rounded-circle center-block" />
                                    </div>
                                </div>
                                <div class="col-md-8 my-col">
                                    <a href="@post.Url" class="forum-item-title">@post.Title</a>
                                    <a class="text-secondary">Posted By @post.UserUserName</a>
                                </div>
                                <div class="col-md-1 my-col forum-info">
                                    <span class="views-number">
                                        @post.CommentsCount
                                    </span>
                                    <div>
                                        <a href=@post.Url>
                                            <i class="fas fa-comments"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                        @post.Votes.Where(x => (int)x.Type == 1).Count()
                                    </span>
                                    <div>
                                        <i class="fa fa-thumbs-up"></i>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                        @post.Votes.Where(x => (int)x.Type == -1).Count()
                                    </span>
                                    <div>
                                        <i class="fa fa-thumbs-down" style="color: red"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-row">
                                <div class="col-md-8 my-col offset-1">
                                    <div class="forum-sub-title">@Html.Raw(post.ShortContent)</div>
                                </div>
                            </div>
                        </div>
                    }

                    <partial name="~/Views/PartialViews/_Pagination.cshtml" , model="this.Model.PaginationModel">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/profile-image-edit.js"></script>
}