@using ForumSystem.Web.ViewModels.Categories;
@model CateogoriesListModel

@{
    this.ViewData["Title"] = "All Categories";
    var count = ((this.Model.PaginationModel.CurrentPage - 1) * 10) + 1;
}

@if (this.TempData.ContainsKey(InvalidMessageKey))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@this.TempData[InvalidMessageKey]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="ibox-content m-b-sm border-bottom">

    <div class="p-xs">
        <h1>Today's Top Growing Categories</h1>
    </div>

    <form>
        <div class="form-row">
            <div class="form-group col-md-10">
                <input asp-for="SearchTerm" placeholder="Search Categories..." class="form-control" />
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-block btn-primary">Search</button>
            </div>
        </div>
    </form>
</div>

<div class="ibox-content forum-container mb-3">
    @if (!this.Model.Categories.Any())
    {
        <div class="forum-title">
            <h3>No categories were found, why don't you create one?</h3>
        </div>

        <a asp-area="" asp-controller="Categories" asp-action="Create" class="btn btn-primary btn-block">Create Category</a>
    }
    else
    {
        @foreach (var category in this.Model.Categories)
        {
            <div class="forum-item">
                <div class="row">
                    <a asp-action="ByName" asp-route-name="@category.RouteName" asp-route-id="1" class="text-dark">
                        <div class="col-md-12 p-0 my-col">
                            <span>@(count++)</span>
                            <img src="@category.ImageUrl" width="60" class="ui-w-40 rounded-circle center-block" />
                            <span>@category.Name</span>
                        </div>
                    </a>
                </div>
            </div>
        }

        <partial name="~/Views/PartialViews/_Pagination.cshtml" model="this.Model.PaginationModel" />
    }
</div>

@section Scripts
{
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/js/select2.js"></script>
}