@using ForumSystem.Web.ViewModels.Categories;
@model CategoryPostsListModel
@{
    this.ViewData["Title"] = "Category";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">

                        <div class="container">
                            <div class="row justify-content-between">
                                <div class="col-md-3 pull-left m-r-md">
                                    <img src="@this.Model.ImageUrl" width="100" />
                                </div>
                                <div class="col-md-3 text-right">
                                    <a asp-route="category-live-chat" class="btn btn-info">Start Live Chat</a>
                                </div>
                            </div>
                        </div>


                        <h2>@this.Model.Name</h2>
                        <p>@Html.Raw(this.Model.SanitizeDescription)</p>

                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <a asp-controller="Posts" asp-action="Create" asp-route-selected="@this.Model.Name" class="btn btn-primary">
                                        Write a Post about @this.Model.Name
                                    </a>
                                </div>

                                <div class="col-md-6">
                                    <a asp-action="All" asp-route-id="1" class="btn btn-danger float-right">
                                        Go Back To Categories
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox-content forum-container">
                    <div class="pull-right forum-desc">
                        <samll>Total posts: @this.Model.PostsCount</samll>
                    </div>

                    <span>Feel free to choose topic you're interested in.</span>

                    @if (this.Model.PostsCount == 0)
                    {
                        <div class="forum-title">
                            <h3>It feels empty! There is still no posts about this category. You can be the first to write one :)</h3>
                        </div>

                        <a asp-controller="Posts" asp-action="Create" asp-route-selected="@this.Model.Name" class="btn btn-block btn-primary">
                            Write a Post about @this.Model.Name
                        </a>
                    }
                    else
                    {
                        <div class="forum-title">
                            <h3>Posts: </h3>
                        </div>
                    }


                    @foreach (var post in this.Model.Posts)
                    {
                        <partial name="~/Views/PartialViews/_Post.cshtml" , model="post" />
                    }

                    <partial name="~/Views/PartialViews/_Pagination.cshtml" , model="this.Model.PaginationModel" />
                </div>
            </div>
        </div>
    </div>
</div>