@using ForumSystem.Web.ViewModels.Categories;
@model CategoriesByUserViewModelList

@{
    this.ViewData["Title"] = "My Categories";
    var count = ((this.Model.PaginationModel.CurrentPage - 1) * 10) + 1;
}

@if (this.TempData.ContainsKey(SuccessMessageKey))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @this.TempData[SuccessMessageKey]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="ibox-content forum-container mb-3">

    <div class="forum-title">
        <h3>@this.ViewData["Title"]</h3>
    </div>

    @if (!this.Model.Categories.Any())
    {
        <div class="forum-item">
            <p>You have got no community yet! Have you got any idea?</p>
            <a asp-controller="Categories" asp-action="Create" class="btn btn-primary btn-block">Create Category</a>
        </div>
    }

    @foreach (var category in this.Model.Categories)
    {
        <div class="forum-item">
            <div class="row">
                <a asp-action="ByName" asp-route-name="@category.RouteName" asp-route-id="1" class="text-dark">
                    <div class="col-md-12 p-0 my-col">
                        <span>@(count++)</span>
                        <img src="@category.ImageUrl" width="60" class="ui-w-40 rounded-circle center-block" />
                        <span>@category.Name</span>

                        <ul class="list-inline m-0 float-right">
                            <li class="list-inline-item">
                                <a asp-area="" asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id" class="btn btn-success btn-sm rounded-0" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a asp-area="" asp-controller="Categories" asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger btn-sm rounded-0" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></a>
                            </li>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
    }

    <partial name="~/Views/PartialViews/_Pagination.cshtml" model="this.Model.PaginationModel">

</div>