@using ForumSystem.Web.ViewModels.Categories;
@model CategoryEditModel
@{
    ViewData["Title"] = "Delete";
}

<div class="ibox-content m-b-sm border-bottom">
    <div class="p-xs">
        <h1>@ViewData["Title"]</h1>

        <h2 class="text-danger">Are you sure you want to delete this category?</h2>
        <h2 class="text-danger">All category's posts with all theirs comments will be deleted also!</h2>
    </div>
</div>

<div class="container card border">
    <h3><strong>Name of Category:</strong> @this.Model.Name</h3>
    <hr />

    <div class="row">
        <div class="col-sm-5">
            <img src="@this.Model.ImageUrl" width="340" />
        </div>
        <div class="col-sm-7">
            <div class="wrap-word-content">
                @Html.Raw(this.Model.SanitizeDescription)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="post" asp-action="Delete" class="float-md-right p-2">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="IsFromAdminPanel" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-controller="Categories"
                   asp-action="ByName"
                   asp-route-name="@this.Model.Name"
                   asp-route-id="@this.Model.Id" class="btn btn-secondary">Go to Category</a>
            </form>
        </div>
    </div>
</div>