@using ForumSystem.Web.ViewModels.Administration.Posts;
@model PostCrudModelList
@{
    var count = (this.Model.PaginationModel.CurrentPage - 1) * 5 + 1;
    this.ViewData["Title"] = "Admin Posts";
}

@if (this.TempData.ContainsKey(InvalidMessageKey))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@this.TempData[InvalidMessageKey]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<section class="mb-3 header">
    <div class="container p-0">
        <div class="ibox-content m-b-sm border-bottom">
            <div class="p-xs">
                <h1>@this.ViewData["Title"]</h1>
            </div>

            <form>
                <div class="form-row">
                    <div class="form-group col-md-10">
                        <input asp-for="SearchTerm" placeholder="Search Categories..." class="form-control" />
                    </div>
                    <div class="form-group col-md-2">
                        <button type="submit" class="btn btn-block btn-primary">Search</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="row text-center">
            <div class="col-md-12 mx-auto">
                <div class="card border-0 shadow text-center">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table m-0 text-nowrap">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Title</th>
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var post in this.Model.Posts)
                                    {
                                        <tr>
                                            <th scope="row">@(count++)</th>
                                            <td>
                                                <img class="img-responsive pull-left" src="@post.CategoryImageUrl" width="100" />
                                            </td>
                                            <td class="d-flex text-center justify-content-center">@post.Title</td>
                                            <td>
                                                <ul class="list-inline m-0">

                                                    <li class="list-inline-item">
                                                        <a asp-area="" asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></a>
                                                    </li>

                                                    <li class="list-inline-item">
                                                        <a asp-area="" asp-controller="Posts"
                                                           asp-action="Delete"
                                                           asp-route-id="@post.Id"
                                                           class="btn btn-danger btn-sm rounded-0"
                                                           type="button"
                                                           data-toggle="tooltip"
                                                           data-placement="top"
                                                           title="Delete"><i class="fa fa-trash"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <partial name="~/Views/PartialViews/_Pagination.cshtml" model="this.Model.PaginationModel" />
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
