@using ForumSystem.Web.ViewModels.Comments;
@using ForumSystem.Web.ViewModels.Posts;
@model IEnumerable<PostCommentViewModel>

@{
    async Task DisplayComments(int? parentId)
    {
        var comments = this.Model
            .Where(x => x.ParentId == parentId)
            .OrderByDescending(x => x.CreatedOn);

        if (!comments.Any())
        {
            return;
        }

        foreach (var comment in comments)
        {
            <div class="container-fluid mt-100">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header">
                                <div class="media flex-wrap w-100 align-items-center">
                                    <img src="@comment.ImageSrc" width="20" class="d-sm-block ui-w-40 rounded-circle">

                                    <div class="media-body ml-3">
                                        <h6>@comment.UserUserName</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                @Html.Raw(comment.SanitizeContent)
                            </div>
                            <div class="card-footer">
                                <div class="container">
                                    <div class="row justify-content-between">
                                        <div class="col-md-3 align-items-center">
                                            <a href="javascript:;" onclick="sendVote(@comment.Id, true, '/api/votes/comment')">
                                                <i class="fa fa-arrow-up"></i>
                                            </a>
                                            <span id=@comment.VotesCountId>@comment.VoteTypeCount</span>
                                            <a href="javascript:;" onclick="sendVote(@comment.Id, false, '/api/votes/comment')">
                                                <i class="fa fa-arrow-down"></i>
                                            </a>
                                        </div>

                                        <div class="col-md-3 text-right">
                                            <button onclick="chageCommentBox(@comment.FormCommentId, @comment.Id)" class="btn btn-primary">
                                                <i class="fa fa-comment-dots"></i>
                                                Reply
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <form id=@comment.FormCommentId asp-controller="Comments" asp-action="Create" method="post" style="display: none">
                                                <partial name="_AddCommentInputs" model="new CommentInputModel() { PostId = comment.PostId }" />
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            @{await DisplayComments(comment.Id);}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

@{await DisplayComments(null);}