@using ForumSystem.Common;
@using ForumSystem.Web.ViewModels.Home;
@model HomePostsListViewModel
@{
    this.ViewData["Title"] = "Posts";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">

                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <div class="pull-left m-r-md">
                            <i class="fa fa-globe text-navy mid-icon"></i>
                        </div>
                        <h2>Welcome to @GlobalConstants.SystemName</h2>

                        <div class="pull-right forum-desc">
                            <samll>Total posts: @this.Model.TotalPosts</samll>
                        </div>

                        <span>Feel free to choose topic you're interested in.</span>
                    </div>
                </div>

                <div class="ibox-content forum-container">

                    <div class="forum-title">
                        <h3>Posts: </h3>
                    </div>

                    @foreach (var post in this.Model.Posts)
                    {
                        <div class="forum-item active">
                            <div class="row align-items-center my-row ">
                                <div class="col-md-1 my-col">
                                    <div class="forum-icon">
                                        <img src="@post.CategoryImage" width="50" class="d-sm-block ui-w-40 rounded-circle center-block" />
                                    </div>
                                </div>
                                <div class="col-md-8 my-col">
                                    <a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id" class="forum-item-title">@post.Title</a>
                                    <a class="text-secondary">Posted By @post.UserUserName</a>
                                </div>
                                <div class="col-md-1 my-col forum-info">
                                    <span class="views-number">
                                        @post.CommentsCount
                                    </span>
                                    <div>
                                        <a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">
                                            <i class="fas fa-comments"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                        @post.Votes.Where(x => (int)x.Type == 1).Count()
                                    </span>
                                    <div>
                                        <i class="fa fa-thumbs-up"></i>
                                    </div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                        @post.Votes.Where(x => (int)x.Type == -1).Count()
                                    </span>
                                    <div>
                                        <i class="fa fa-thumbs-down" style="color: red"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-row">
                                <div class="col-md-8 my-col offset-1">
                                    <div class="forum-sub-title">@Html.Raw(post.ShortContent)</div>
                                </div>
                            </div>
                        </div>
                    }

                    <partial name="_HomePagination">
                </div>
            </div>
        </div>
    </div>
</div>

